<ion-header>
  <ion-navbar>
    <ion-title text-center>Login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!--
  <h2>Welcome to login page</h2>
  {{ email }}
  <ion-input [(ngModel)]="email"></ion-input>
  <button ion-button (click)="pressMe(email, 50)">Button</button>
  -->

  <ion-list>
    <ion-item inset>
      <ion-label floating>Email</ion-label>
      <ion-input [(ngModel)]="email" type="text" value=""></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Password</ion-label>
      <ion-input [(ngModel)]="password" type="password"></ion-input>
    </ion-item>
  </ion-list>


  <div padding>
    <button ion-button block (click)="navigateToProfile()">Sign In</button>
  </div>

  <div padding>
      <ion-item no-lines text-center>
          <a href="http://localhost:8100/#/registration">Don't have an account yet?</a>
      </ion-item>
      <!-- <button ion-button block (click)="navigateToRegistration()">Register</button> -->
      
  </div>

  <!-- 
  going to let us use each one
  <div *ngFor="let name of names">
    {{name}}
  </div>
  -->

  <!--
  <div *ngIf=”flag == true”>  Render this </div>
  -->

</ion-content>

<!--
  boundaries
  timer
  track player (m)
-->